:root {
  --primary-color: #491593;
  --secondary-color: #c4aeff;
}

body {
  font-family: "Cormorant Infant", serif;
}

.main-page {
  background: url(/images/background.jpg) no-repeat;
  background-size: cover;
}

h1 {
  font-size: 80px;
  font-style: italic;
  line-height: 1;
}

h2 {
  font-size: 20px;
}

h3 {
  padding-top: 80px;
  font-size: 22px;
  font-weight: bold;
}

h4 {
  font-size: 30px;
  font-weight: bold;
  font-variant: small-caps;
  font-style: italic;
}

p {
  font-size: 18px;
  font-weight: bold;
}

.nav-wrapper {
  background: linear-gradient(180deg, #7125ce 0%, #150044 100%);
}

.navbar a {
  color: var(--secondary-color);
  font-size: 18px;
  font-weight: bold;
  font-variant: small-caps;
  line-height: 0.5;
}

.navbar-nav .nav-link.active {
  color: #fff;
}

.nav-link:hover,
.contact-link:hover {
  color: #fff;
}

.contact-link {
  background: var(--secondary-color);
  border: none;
  color: var(--primary-color);
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  text-transform: capitalize;
  transition: 200ms all ease-in-out;
}

.contact-link:hover {
  background: var(--primary-color);
}

.photo {
  border-radius: 53% 47% 43% 57% / 0% 100% 0% 100%;
}

.icons {
  color: var(--primary-color);
  font-size: 28px;
}

footer a {
  color: var(--primary-color);
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
}

footer a:hover {
  color: #73cdff;
}

.standard-btn {
  background-color: var(--primary-color);
  color: #fcfefe;
  font-size: 18px;
  font-weight: bold;
}

.standard-btn:hover {
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  color: #fcfefe;
  font-weight: bold;
}

@media (max-width: 768px) {
  h1 {
    font-size: 48px;
  }
}
