:root {
  --primary-color: #491593;
  --primary-color-white: #fcfefe;
  --secondary-color: #c4aeff;
  --accent-color: #73cdff;
}

body {
  font-family: "Cormorant Infant", serif;
}

.main-page {
  background: url(/images/background.jpg) no-repeat;
  background-size: cover;
}

h1 {
  font-size: 80px;
  font-style: italic;
  line-height: 1;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 26px;
  font-weight: bold;
  font-style: italic;
}

p {
  font-size: 18px;
}

.nav-wrapper {
  background: linear-gradient(180deg, #7125ce 0%, #150044 100%);
}

.navbar a {
  color: var(--secondary-color);
  font-size: 18px;
  font-weight: bold;
  font-variant: small-caps;
  line-height: 0.5;
}

.navbar-nav .nav-link.active {
  color: var(--primary-color-white);
}

.nav-link:hover,
.contact-link:hover {
  color: var(--primary-color-white);
}

.contact-link {
  background: var(--secondary-color);
  border: none;
  color: var(--primary-color);
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  text-transform: capitalize;
  transition: 200ms all ease-in-out;
}

.contact-link:hover {
  background: var(--primary-color);
}

.photo {
  border-radius: 53% 47% 43% 57% / 0% 100% 0% 100%;
}

footer a {
  color: var(--primary-color);
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
}

footer a:hover {
  color: var(--accent-color);
}

.standard-btn {
  background-color: var(--primary-color);
  color: var(--primary-color-white);
  font-size: 18px;
  font-weight: bold;
}

.standard-btn:hover {
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  color: var(--primary-color-white);
  font-weight: bold;
}

.content {
  font-family: "Josefin Sans", sans-serif;
}

.content p {
  font-size: 16px;
}

.icons {
  color: var(--primary-color);
  font-size: 22px;
}

small {
  font-size: 12px;
}

.content a,
.content a:hover {
  font-size: 16px;
  font-weight: normal;
}

.content ul {
  list-style: square;
  text-align: left;
}

.contacts h1 {
  font-size: 48px;
}

.contacts p {
  font-size: 20px;
  line-height: 0.5;
}

.contacts a {
  color: var(--primary-color);
  text-decoration: none;
  display: block;
}

.contacts a:hover {
  text-decoration: underline;
}

@media (max-width: 820px) {
  h1 {
    font-size: 22px;
  }
  .content {
    margin-top: 0 !important;
    padding-bottom: 30px !important;
  }
  .photo {
    margin-bottom: 0 !important;
  }
}

@media (max-width: 576px) {
  h3 {
    font-size: 20px;
  }
  .content {
    padding-bottom: 0 !important;
    padding-top: 20px !important;
  }
  .content:last-child {
    padding-bottom: 30px !important;
  }
}
